In [1]:
# Clustering of timeseries data
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from tsfresh import extract_features

/home/ubuntu/anaconda3/lib/python3.6/site-packages/statsmodels/compat/pandas.py:56: FutureWarning: The pandas.core.datetools module is deprecated and will be removed in a future version. Please use the pandas.tseries module instead.
  from pandas.core import datetools

In [2]:
df = pd.read_csv('complete_df_7.csv')

/home/ubuntu/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (8,9,12,13) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
df

,Unnamed: 0,store_key,sku_key,tran_date,sales,selling_price,avg_discount,promotion_type,store_region,store_grading,store_area_manager,sku_department,sku_subdepartment,sku_category,sku_subcategory,sku_range,sku_label,stock_open
0,0,121,47364,2017-11-06,1,0.01,0.0,no_promotion,WC,B,WA,AM,AG,150,209,0001A,Gift C,-1.0
1,1,119,60063,2018-02-21,21,0.01,0.0,no_promotion,GTN,NaN,SI2014,AM,PA,100,201,0001A,001,-2027.0
2,2,36,53252,2017-09-30,0,0.01,0.0,no_promotion,GTN,B,SI2014,AM,AB,49,049,0001A,001,0.0
3,3,118,60064,2017-11-28,27,0.01,0.0,no_promotion,NW,NaN,CH2014,AM,PA,100,201,0001A,001,-1356.0
4,4,118,60064,2017-11-27,22,0.01,0.0,no_promotion,NW,NaN,CH2014,AM,PA,100,201,0001A,001,-1334.0
5,5,111,53252,2018-02-12,0,0.01,0.0,no_promotion,WC,NaN,WA,AM,AB,49,049,0001A,001,55.0
6,6,31,60064,2018-01-20,1,0.01,0.0,no_promotion,FS,B,SI2014,AM,PA,100,201,0001A,001,-1.0
7,7,111,53252,2018-01-06,0,0.01,0.0,no_promotion,WC,NaN,WA,AM,AB,49,049,0001A,001,2.0
8,8,121,47364,2017-12-09,0,0.01,0.0,no_promotion,WC,B,WA,AM,AG,150,209,0001A,Gift C,82.0
9,9,36,53252,2017-12-01,0,0.01,0.0,no_promotion,GTN,B,SI2014,AM,AB,49,049,0001A,001,0.0
10,10,121,47364,2018-03-13,1,0.01,0.0,no_promotion,WC,B,WA,AM,AG,150,209,0001A,Gift C,25.0
11,11,31,47364,2017-04-04,0,0.01,0.0,no_promotion,FS,B,SI2014,AM,AG,150,209,0001A,Gift C,-11.0
12,12,114,60063,2018-01-02,6,0.01,0.0,no_promotion,LIM,NaN,CH2014,AM,PA,100,201,0001A,001,-223.0
13,13,31,47364,2017-05-08,0,0.01,0.0,no_promotion,FS,B,SI2014,AM,AG,150,209,0001A,Gift C,-14.0
14,14,36,53252,2018-04-10,0,0.01,0.0,no_promotion,GTN,B,SI2014,AM,AB,49,049,0001A,001,0.0
15,15,36,53252,2018-03-03,0,0.01,0.0,no_promotion,GTN,B,SI2014,AM,AB,49,049,0001A,001,0.0
16,16,114,60065,2018-02-06,0,0.01,0.0,no_promotion,LIM,NaN,CH2014,AM,PA,100,201,0001A,001,-31.0
17,17,31,60065,2017-11-16,6,0.01,0.0,no_promotion,FS,B,SI2014,AM,PA,100,201,0001A,001,-437.0
18,18,31,47364,2017-07-09,0,0.01,0.0,no_promotion,FS,B,SI2014,AM,AG,150,209,0001A,Gift C,-21.0
19,19,31,46433,2017-09-23,0,0.01,0.0,no_promotion,FS,B,SI2014,AM,AG,150,209,0001A,Gift C,14.0
20,20,31,47364,2017-07-08,1,0.01,0.0,no_promotion,FS,B,SI2014,AM,AG,150,209,0001A,Gift C,-20.0
21,21,31,60065,2018-02-19,2,0.01,0.0,no_promotion,FS,B,SI2014,AM,PA,100,201,0001A,001,-49.0
22,22,31,46433,2017-07-29,0,0.01,0.0,no_promotion,FS,B,SI2014,AM,AG,150,209,0001A,Gift C,-2.0
23,23,31,47364,2017-09-29,1,0.01,0.0,no_promotion,FS,B,SI2014,AM,AG,150,209,0001A,Gift C,91.0
24,24,111,46433,2018-03-16,0,0.01,0.0,no_promotion,WC,NaN,WA,AM,AG,150,209,0001A,Gift C,87.0
25,25,31,47364,2016-03-12,1,0.01,0.0,no_promotion,FS,B,SI2014,AM,AG,150,209,0001A,Gift C,78.0
26,26,111,47364,2018-01-05,2,0.01,0.0,no_promotion,WC,NaN,WA,AM,AG,150,209,0001A,Gift C,57.0
27,27,114,46433,2017-12-25,0,0.01,0.0,no_promotion,LIM,NaN,CH2014,AM,AG,150,209,0001A,Gift C,41.0
28,28,31,60065,2017-12-04,15,0.01,0.0,no_promotion,FS,B,SI2014,AM,PA,100,201,0001A,001,-632.0
29,29,111,46433,2017-12-28,0,0.01,0.0,no_promotion,WC,NaN,WA,AM,AG,150,209,0001A,Gift C,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40307632,40307632,117,49400,2017-12-02,1,129.90,30.0,catalogue,EC,NaN,WA,TY,06,055,R01,0001B,RG,8.0
40307633,40307633,117,54933,2017-12-09,1,199.90,0.0,catalogue,EC,NaN,WA,TY,06,055,R01,0001B,RG,24.0
40307634,40307634,117,43746,2017-03-11,0,169.90,0.0,no_promotion,EC,NaN,WA,TY,06,055,R01,0001B,RG,9.0
40307635,40307635,117,43746,2017-03-04,1,169.90,0.0,no_promotion,EC,NaN,WA,TY,06,055,R01,0001B,RG,10.0
40307636,40307636,117,49400,2016-08-25,0,99.90,0.0,no_promotion,EC,NaN,WA,TY,06,055,R01,0001B,RG,8.0
40307637,40307637,117,49400,2016-07-17,0,99.90,0.0,no_promotion,EC,NaN,WA,TY,06,055,R01,0001B,RG,13.0
40307638,40307638,117,43746,2017-02-08,0,169.90,0.0,no_promotion,EC,NaN,WA,TY,06,055,R01,0001B,RG,0.0
40307639,40307639,117,43746,2017-03-18,0,169.90,0.0,no_promotion,EC,NaN,WA,TY,06,055,R01,0001B,RG,8.0
40307640,40307640,117,47581,2016-12-12,0,169.90,0.0,no_promotion,EC,NaN,WA,TY,06,055,R01,0001B,RG,8.0
40307641,40307641,117,43746,2016-03-29,0,169.90,0.0,no_promotion,EC,NaN,WA,TY,06,055,R01,0001B,RG,23.0
40307642,40307642,117,49400,2017-05-23,0,99.90,0.0,no_promotion,EC,NaN,WA,TY,06,055,R01,0001B,RG,2.0
40307643,40307643,117,54933,2016-12-09,0,199.90,0.0,no_promotion,EC,NaN,WA,TY,06,055,R01,0001B,RG,28.0
40307644,40307644,117,54934,2018-04-06,0,99.90,0.0,no_promotion,EC,NaN,WA,TY,06,055,R01,0001B,RG,84.0
40307645,40307645,117,54934,2018-03-04,1,129.90,0.0,no_promotion,EC,NaN,WA,TY,06,055,R01,0001B,RG,91.0
40307646,40307646,117,47581,2017-04-15,0,169.90,0.0,no_promotion,EC,NaN,WA,TY,06,055,R01,0001B,RG,4.0
40307647,40307647,117,49400,2016-05-25,0,99.90,0.0,no_promotion,EC,NaN,WA,TY,06,055,R01,0001B,RG,26.0
40307648,40307648,117,54934,2016-11-13,0,99.90,0.0,no_promotion,EC,NaN,WA,TY,06,055,R01,0001B,RG,18.0
40307649,40307649,117,54934,2017-03-28,0,99.90,0.0,no_promotion,EC,NaN,WA,TY,06,055,R01,0001B,RG,0.0
40307650,40307650,117,49400,2016-03-12,0,99.90,0.0,no_promotion,EC,NaN,WA,TY,06,055,R01,0001B,RG,27.0
40307651,40307651,117,49400,2016-03-21,-1,99.90,0.0,no_promotion,EC,NaN,WA,TY,06,055,R01,0001B,RG,26.0
40307652,40307652,117,54933,2017-03-25,0,199.90,0.0,no_promotion,EC,NaN,WA,TY,06,055,R01,0001B,RG,2.0
40307653,40307653,117,54933,2017-04-27,0,199.90,0.0,no_promotion,EC,NaN,WA,TY,06,055,R01,0001B,RG,1.0
40307654,40307654,117,43746,2016-07-07,0,169.90,0.0,no_promotion,EC,NaN,WA,TY,06,055,R01,0001B,RG,16.0
40307655,40307655,117,54933,2017-05-08,0,199.90,0.0,no_promotion,EC,NaN,WA,TY,06,055,R01,0001B,RG,0.0
40307656,40307656,117,47581,2017-08-10,0,169.90,0.0,no_promotion,EC,NaN,WA,TY,06,055,R01,0001B,RG,0.0
40307657,40307657,117,47581,2017-09-18,0,169.90,0.0,no_promotion,EC,NaN,WA,TY,06,055,R01,0001B,RG,20.0
40307658,40307658,117,47581,2017-08-02,0,169.90,0.0,no_promotion,EC,NaN,WA,TY,06,055,R01,0001B,RG,0.0
40307659,40307659,117,47581,2017-08-03,0,169.90,0.0,no_promotion,EC,NaN,WA,TY,06,055,R01,0001B,RG,0.0
40307660,40307660,117,54934,2017-06-14,0,99.90,0.0,no_promotion,EC,NaN,WA,TY,06,055,R01,0001B,RG,0.0
40307661,40307661,117,47581,2017-07-13,0,169.90,0.0,no_promotion,EC,NaN,WA,TY,06,055,R01,0001B,RG,0.0

In [4]:
df.drop('Unnamed: 0', axis=1, inplace=True)

In [8]:
df['stock_open'] = df['stock_open'].astype(float)

In [9]:
aggregate = df.groupby(['sku_key', 'tran_date']).agg({'sales':'sum', 'selling_price':'mean',
                                                      'avg_discount': 'mean', 'stock_open': 'sum'})
aggregate.reset_index(inplace=True)

In [10]:
categorical = df[['sku_key', 'sku_department', 'sku_subdepartment',
                  'sku_category', 'sku_subcategory', 'sku_label']]

In [11]:
nw_df = pd.DataFrame([], columns=['sku_key','sku_department','sku_subdepartment','sku_category','sku_subcategory', 'sku_label'])
for i in categorical['sku_key'].unique():
    nw_df = pd.concat([nw_df, pd.DataFrame(categorical[categorical['sku_key'] == i].iloc[0]).T])

In [14]:
nw_df.reset_index(inplace=True, drop=True)

In [15]:
aggregate['sku_key'] = aggregate['sku_key'].astype(int)
nw_df['sku_key'] = nw_df['sku_key'].astype(int)

In [16]:
aggregate_df = aggregate.merge(nw_df, how='left', on='sku_key')

In [17]:
aggregate_df.head()

,sku_key,tran_date,sales,selling_price,avg_discount,stock_open,sku_department,sku_subdepartment,sku_category,sku_subcategory,sku_label
0,28,2016-03-02,1,89.9,0.0,64.0,TY,06,063,20G,DRGI
1,28,2016-03-03,0,89.9,0.0,63.0,TY,06,063,20G,DRGI
2,28,2016-03-04,0,89.9,0.0,63.0,TY,06,063,20G,DRGI
3,28,2016-03-05,0,89.9,0.0,63.0,TY,06,063,20G,DRGI
4,28,2016-03-06,0,89.9,0.0,63.0,TY,06,063,20G,DRGI

In [21]:
aggregate_df.to_csv('aggregate_products.csv', index=False)

In [22]:
aggregate_df['tran_date'] = pd.to_datetime(df['tran_date'])

In [ ]:
extracted_features = extract_features(aggregate_df[['sku_key', 'tran_date', 'sales']], column_id="sku_key", column_sort="tran_date")

Feature Extraction:   0%|          | 0/10 [00:00<?, ?it/s]

In [ ]:
extracted_features.to_csv('extracted_features.csv')

In [ ]:
categorical = aggregate_df[['sku_key', 'sku_department',
                   'sku_subdepartment', 'sku_category', 'sku_subcategory']]

nw_df = pd.DataFrame([], columns=['sku_key','sku_department','sku_subdepartment','sku_category','sku_subcategory'])
for i in categorical['sku_key'].unique():
    nw_df = pd.concat([nw_df, pd.DataFrame(categorical[categorical['sku_key'] == i].iloc[0]).T])
    
nw_df.reset_index(inplace=True, drop=True)
nw_df.to_csv('sku_labels.csv', index=False)